<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ödev 4</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">

<link rel="stylesheet" href="css/odev4.css">
<link rel="stylesheet" href="css/counter.css">
</head>
<body>
<nav class="menu">
    <div class="container">
      <div >
        <ul >
          <li class="active"><a href="#anasayfa" >Anasayfa</a></li>
          <li><a href="#yazarlar" >Yazarlar</a></li>
          <li><a href="kitaplar" >Kitaplar</a></li>
          <li><a href="#etkinlik">Etkinlik Tarihi</a></li>
          <li><a href="#alan" >Etkinlik Alanı</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="zemin1" id="anasayfa">
            <h2 class="baslik1">2021 Sivas Kitap Fuarı</h2>
            <h3 class="baslik2">15-18 Temmuz İmza Günü </h3>
  </section>
  <div class="container">
    <h1 id="headline">Yazarlarla Buluşmaya</h1>
    <div id="countdown">
      <ul>
        <li><span id="days"></span>Gün</li>
        <li><span id="hours"></span>Saat</li>
        <li><span id="minutes"></span>Dakika</li>
        <li><span id="seconds"></span>Saniye</li>
      </ul>
    </div>
  </div>  
  <section class="zemin1" id="yazarlar">
    <h2 class="baslik1">2021 Kitap Fuarı</h2>
    <h3 class="baslik2">Yazarlar</h3>
</section>  
<div class="container">
    <div class="col-md-3">
        <div>
            <img src="/img/suzanne_collins.jpg">
            <p>Suzanne Collins</p>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <img src="/img/stephenie-meyer.jpg">
            <p>Stephenie Meyer</p>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <img src="/img/diana-gabaldon.jpg">
            <p>Diana Gabaldon</p>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <img src="/img/george-martin.jpg">
            <p>George R.R. Martin</p>
        </div>
    </div>            
</div>

<section class="zemin1 m-top350" id="kitaplar">
    <h2 class="baslik1">2021 Kitap Fuarı</h2>
    <h3 class="baslik2">Yazarlar</h3>
</section>  
<div class="container">
    <div class="col-md-1">
        <div>
            <img src="/img/aclik-oyunlari.jpg">
            <p>Açlık Oyunları</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/atesi-yakalamak.jpg">
            <p>Ateşi Yakalamak</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/alayci-kus.jpg">
            <p>Alaycı Kuş</p>
        </div>
    </div>     
    <div class="col-md-1">
        <div>
            <img src="/img/alacakaranlik.jpg">
            <p>Alacakaranlık</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/tutulma.jpg">
            <p>Tutulma</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/yeniay.jpg">
            <p>Yeniay</p>
        </div>
    </div>             
    <div class="col-md-1">
        <div>
            <img src="/img/safak-Vakti.jpg">
            <p>Şafak Vakti</p>
        </div>
    </div>   

    <div class="col-md-1">
        <div>
            <img src="/img/yabanci.jpg">
            <p>Yabancı</p>
        </div>
    </div> 

    <div class="col-md-1">
        <div>
            <img src="/img/yolcu.jpg">
            <p>Yolcu</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/atesin1.jpg">
            <p>Ateşin Çağrısı I</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/atesin2.jpg">
            <p>Ateşin Çağrısı II</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/kehribardaki.jpg">
            <p>Kehribardaki Yusufçuk</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/karvekul1.jpg">
            <p>Kar ve Kül I</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/karvekul2.jpg">
            <p>Kar ve Kül II</p>
        </div>
    </div>     
    <div class="col-md-1">
        <div>
            <img src="/img/gyankisi1.jpg">
            <p>Geçmişin Yankısı I</p>
        </div>
    </div> 
    <div class="col-md-1">
        <div>
            <img src="/img/gyankisi2.jpg">
            <p>Geçmişin Yankısı II</p>
        </div>
    </div>     
    <div class="col-md-1">
        <div>
            <img src="/img/guz1.jpg">
            <p>Güz Davulları I</p>
        </div>
    </div>                         
    <div class="col-md-1">
        <div>
            <img src="/img/guz2.jpg">
            <p>Güz Davulları II</p>
        </div>
    </div>  
    <div class="col-md-1">
        <div>
            <img src="/img/taht1.jpg">
            <p>Taht Oyunları</p>
        </div>
    </div>  
    <div class="col-md-1">
        <div>
            <img src="/img/krallar2.jpg">
            <p>Kralların Çarpışması</p>
        </div>
    </div>  
    <div class="col-md-1">
        <div>
            <img src="/img/kilic3.jpg">
            <p>Kılıçların Fırtınası</p>
        </div>
    </div>  
    <div class="col-md-1">
        <div>
            <img src="/img/karga4.jpg">
            <p>Kargaların Ziyafeti</p>
        </div>
    </div>  
    <div class="col-md-1">
        <div>
            <img src="/img/ejderha5.jpg">
            <p>Ejderhaların Dansı</p>
        </div>
    </div>                      
    
</div>

<section class="zemin1 m-top1050" id="etkinlik">
    <h2 class="baslik1">2021 Kitap Fuarı</h2>
    <h3 class="baslik2">Etkinlik Tarihi</h3>
</section>  
<div class="container">
    <div class="col-md-3">
        <div>
            <img src="/img/suzanne_collins.jpg">
            <p>Suzanne Collins<br>15 Temmuz 2021  08:30 Söyleşi<br>12:30 İmza Saati</p>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <img src="/img/stephenie-meyer.jpg">
            <p>Stephenie Meyer<br>16 Temmuz 2021  08:30 Söyleşi<br>12:30 İmza Saati</p>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <img src="/img/diana-gabaldon.jpg">
            <p>Diana Gabaldon<br>17 Temmuz 2021  08:30 Söyleşi<br>12:30 İmza Saati</p>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <img src="/img/george-martin.jpg">
            <p>George R.R. Martin<br>18 Temmuz 2021  08:30 Söyleşi<br>12:30 İmza Saati</p>
        </div>
    </div>            
</div>

<section class="zemin1 m-top350" id="alan">
    <h2 class="baslik1">2021 Kitap Fuarı</h2>
    <h3 class="baslik2">Etkinlik Alanı</h3>
</section>  
<div class="container">
    <br>
    <p>Sivas Tarihi Meydanı</p>
    <br>
    <p>Kongre Müzesi</p>
    <br>
    <p>Çifte Minare </p>
    <hr>
<p>Sivas Cumhuriyet Üniversitesi</p>
<p>Bilgisyar Mühendisliği</p>
<p>İnternet Teknolojileri Dersi</p>
</div>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="/js/custom.js"></script>  
</body>