    
    <nav class="menu">
      <div class="container">
        <div >
          <ul >
            <li class="active"><a href="#anasayfa" data-nav-section="welcome">Anasayfa</a></li>
            <li><a href="#" data-nav-section="specialties">Yazarlar</a></li>
            <li><a href="#" data-nav-section="menu">Kitaplar</a></li>
            <li><a href="#" data-nav-section="events">Etkinlik Tarihi</a></li>
            <li><a href="#" data-nav-section="contact">Etkinlik Alanı</a></li>
          </ul>
        </div>
      </div>
    </nav>